* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Arial";
}

html {
    background: #b9b9aa;
    margin: 15px;
}

body {
    background-color: #ffffff;
}

.main {
    padding: 0 2em;
}

.menu {
    background-color: #ffffff;
}

#img-menu {
    width: 100%;
}

.card_principal {
    padding-bottom: 2em;
}

.card {
    display: block;
    padding-bottom: 1em;
}

.fonte_noticia {
    color: #b2b2b2;
    font-style: italic;
    font-size: 1vmax;

}

.img_noticia {
    width: -webkit-fill-available;
}

.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
}

.linha_gradiente {
    height: 3px;
    width: 60%;
    background: linear-gradient(95deg, rgba(0, 232, 255, 1) 0%, rgba(27, 166, 162, 1) 50%, rgba(0, 5, 131, 1) 100%);
    margin-top: 5px;
}

.card_principal .linha_gradiente {
    width: 50%;
}

h1 {
    font-size: 3.3vmax;
}


#texto_card>p {
    padding-bottom: 10px;
}

p {
    font-size: 1.5vmax;
    line-height: 17px;
    color: #74787a;
}

#link_rodape {
    font-size: 1.5vmax;
    line-height: 17px;
    color: #74787a;
}

#logo {
    width: 100%;
    max-height: 170px;
}

.rodape {
    text-align: center;
    padding: 2em .4em;
}

/* Carrossel */

.container-Projeto .slide-container .slide {

    display: flex;

    padding-bottom: 8%;

}

/*aqui*/
.container-Projeto .slide-container .slide::before {
    content: "";
    padding-bottom: 40%;

}

.container-Projeto .slide-container .slide .content-Projeto {
    flex: 1 1 350px;
    animation: slideContent .4s linear .4s backwards;
}

@keyframes slidesContent {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
}

/* Essa parte do código está escondendo as demais imagens para ficarem embaixo da primeira */
.container-Projeto .slide-container {
    display: none;
}

.container-Projeto .slide-container.active {
    display: block;
}

/* Referenciando o 1°Slide */
/* IMAGENS */
.container-Projeto .slide-container:nth-child(1) .slide {
    background: url(/img/slide_1.png);
    background-repeat: no-repeat;
    background-position-x: center;
    max-width: 100%;
    background-size: contain;

}

.container-Projeto .slide-container:nth-child(2) .slide {
    background: url(/img/slide_2.png);
    background-repeat: no-repeat;
    background-position-x: center;
    max-width: 100%;
    background-size: contain;
}

.container-Projeto .slide-container:nth-child(3) .slide {
    background: url(/img/slide_3.png);
    background-repeat: no-repeat;
    background-position-x: center;
    max-width: 100%;
    background-size: contain;
}

@media (max-width: 600px) {
    .img_noticia {
        width: 100%;
    }
}

@media (max-width: 400px) {
    .cards {
        display: block;
    }
}